<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242952705823-0vh883pq04cm7hhtq245sbbbmei0tmin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242952705823-0vh883pq04cm7hhtq245sbbbmei0tmin</string>
	<key>API_KEY</key>
	<string>AIzaSyCTZFi8210XELkf5Cctv1S-Ky58ydM4e1M</string>
	<key>GCM_SENDER_ID</key>
	<string>242952705823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alen.app.-1-0-JuciferApp</string>
	<key>PROJECT_ID</key>
	<string>twentyonepointzerojuciferapp</string>
	<key>STORAGE_BUCKET</key>
	<string>twentyonepointzerojuciferapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242952705823:ios:4720405e3b96a0b2d3022a</string>
</dict>
</plist>